.btn-addTodo {
  background-color: #5178f1;
  box-shadow: 0 8px 14px 0rem #5179f1c5;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 20px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  cursor: pointer;
  // &:hover {
  //   transform: scale(1.1);
  // }
}

.addTodo__dialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5000;
  background-color: #fff;
  height: 300px;
  width: 90%;
  max-width: 400px;
  @media (max-width: 400px) {
    width: 100%;
    top: 0%;
    left: 0;
    transform: translate(0, 0);
  }
}
