.btn {
  display: inline-block;
  border: none;
  outline: none;
  color: #fff;
  //padding: 7px 20px;
  cursor: pointer;

  font-size: 30px;
  margin: 5px;
  &:hover {
    background: rgb(0, 0, 0);
  }

  &-delete {
    background: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 0.8rem;
    line-height: 0.8rem;
    color: rgb(192, 53, 53);
    border: 1px solid rgb(192, 53, 53);
    &:hover {
      background: rgba(36, 36, 36, 0.192);
      color: #fff;
    }
  }
  &-complete {
    background: none;
    line-height: 0.8;
    border-radius: 4px;

    &__svg {
      height: 22px;
      width: 22px;
      padding: 0 3px;
      fill: #fff;
    }
    &:hover {
      background: rgba(36, 36, 36, 0.192);
      color: #fff;
      .btn-complete__svg {
        fill: rgba(5, 204, 38, 0.972);
      }
    }
  }

  &-cancel {
    background: #c82333;
  }
  &-add {
  }
}
