.todoItem {
  display: block;
  position: relative;
  padding: 10px;
  font-size: 22px;
  height: auto;
  min-height: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  width: 100%;
  max-width: 1000px;
  height: auto;
  max-height: 400px;
  // color: rgb(125, 173, 224);
  border-radius: 15px;
  margin: 8px 0;
  color: #76747d;
  // border: 1px solid rgba(246, 246, 246, 0.459);
  background-color: rgba(246, 246, 246, 0.301);

  &:hover {
    box-shadow: 0 10px 24px 0rem rgba(228, 228, 228, 0.644);
    background-color: rgb(238, 238, 238);
    color: #000;
  }
  &__expanded {
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(238, 238, 238);
    color: #000;
    &:hover {
      box-shadow: none;

      background-color: rgb(238, 238, 238);
      color: #000;
    }
  }
  &__heading {
    display: flex;
    justify-content: space-between;
    // border: 2px solid #000;
  }
  &__details {
    opacity: 0;
    height: 0;
    overflow: hidden;

    flex: 0;
    &--show {
      opacity: 1;
      height: auto;
      flex: 1;
    }
  }
  &__dateCreated {
    font-size: 0.6rem;
  }

  &__title {
    font-size: 1.2rem;
    flex: 1;
    line-height: 2rem;
    cursor: pointer;
  }

  &__body {
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    min-height: 150px;
    font-size: 0.9rem;
  }

  &__deadline {
    border: 1px solid red;
    background-color: #ccc;
  }

  &__status {
    // border: 1px solid rgb(255, 255, 255);
    // background-color: rgb(131, 121, 121);
    border-radius: 12px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
