.todoItem {
  display: block;
  position: relative;
  padding: 10px;
  font-size: 22px;
  height: auto;
  min-height: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  width: 100%;
  max-width: 1000px;
  height: auto;
  max-height: 400px;
  border-radius: 15px;
  margin: 8px 0;
  color: #76747d;
  transition: all 0.1s ease-in-out;
  background-color: rgba(246, 246, 246, 0.301);
  @media (max-width: 400px) {
    padding: 5px;
  }

  &:hover {
    background-color: rgb(238, 238, 238);
    color: #000;
    transform: scale(1.01);
  }
  &__expanded {
    background-color: rgba(246, 246, 246, 0.301);
    color: #000;
    &:hover {
      box-shadow: none;
      box-shadow: 0 4px 8px 0 rgba(134, 134, 134, 0.2);

      background-color: rgba(246, 246, 246, 0.301);
      color: #000;
    }
  }
  &__heading {
    display: flex;
    justify-content: space-between;
  }
  &__details {
    opacity: 0;
    height: 0;
    overflow: hidden;
    display: flex;

    flex: 0;
    &--show {
      opacity: 1;
      height: auto;
      flex: 1;
    }
  }
  &__dateCreated {
    font-size: 0.6rem;
  }

  &__title {
    font-size: 1.2rem;
    flex: 1;
    line-height: 2rem;
    font-weight: 500;
    color: #2a3940;
    cursor: pointer;
    @media (max-width: 400px) {
      font-size: 12px;
    }
  }

  &__body {
    border: 1px solid rgba(206, 206, 206, 0.37);
    border-radius: 5px;
    min-height: 150px;
    font-size: 0.9rem;
    width: 70%;
    padding: 10px;
    background-color: #fff;
    word-wrap: break-word;
    &__noDetails {
      text-align: center;
      &--text {
        font-size: 30px;
        font-weight: 600;
        color: #eee;
      }
      &--svg {
        padding-top: 5px;
      }
    }
  }

  &__sidemenu {
    margin: 0 auto;
    &__text {
      &--primary {
        color: #2a3940;
        font-size: 16px;
        font-weight: 600;
        @media (max-width: 400px) {
          font-size: 11px;
        }
      }
      &--secondary {
        color: rgb(172, 172, 172);
        font-size: 10px;
        font-weight: 500;
      }
    }

    &__section {
      padding: 5px;
    }
  }

  &__deadline {
    border: 1px solid red;
    background-color: #ccc;
  }

  &__status {
    border-radius: 12px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33px;
    @media (max-width: 400px) {
      font-size: 12px;
    }
  }
}
