.header {
  background: #000;
  width: 100%;
  text-align: center;
  padding: 10px;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    display: inline;
    color: #fff;
  }

  &__logo {
    height: 40px;
  }
}
