.header {
  &__container {
    background: #000;
    width: 100%;
    text-align: center;
    padding: 10px;
    //addded
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    //added
  }

  &__title {
    display: inline;
    color: #fff;
  }

  &__logo {
    height: 40px;
  }
}
